.clear{clear:both}
.hidden{display:none}
a{text-decoration: none}
body{
    font-family: microsoft yahei;
    font-size: 12px;
    background: url(../images/bg.png) no-repeat center center;
    width: 1200px;
    height: 1154px;
    margin: 0 auto;
    text-align: center;
    color: #e9cd11;    
}
#header{height:120px;}
.logo{float:right;margin:25px}
#banner{
    margin: 0 auto;
}
#banner p{margin:24px 0;font-size:21px;}
.btn.join{background:url(../images/btn.png) no-repeat center center;padding:10px;width:212px;margin:35px auto}
.btn.join a{color:#241801;font-weight: bold;font-size:20px;}
#notif{width:900px;height:212px;display:flex;margin:56px auto;}
#notif li{width:300px;}
#notif h3{font-size:24px;margin:24px 0 12px;}
#notif p{font-size:14px;line-height: 1.5em}
#notif .notif_logo{
    width:110px;
    height:110px;
    margin: 0 auto;
    background-size: 110px 110px;
}
#notif .notif_logo.join{
    background:url(../images/icon1.png) no-repeat center center;
}
#notif .notif_logo.join:hover,#notif .notif_logo.join.active{
    background:url(../images/icon1-a.png) no-repeat center center;
}
#notif .notif_logo.promise{
    background:url(../images/icon2.png) no-repeat center center;
}
#notif .notif_logo.promise:hover,#notif .notif_logo.promise.active{
    background:url(../images/icon2-a.png) no-repeat center center;
}
#notif .notif_logo.award{
    background:url(../images/icon3.png) no-repeat center center;
}
#notif .notif_logo.award:hover,#notif .notif_logo.award.active{
    background:url(../images/icon3-a.png) no-repeat center center;
}
.flow {padding:45px 0 100px;border:2px solid #413404;width:980px;margin:0 auto;position:relative}
.flow::before {
    top: -13px;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid #3e3104;
    z-index: 99;
    border-bottom: 0;
    border-right: 0;
    -webkit-transform: translateX(-50%) rotate(45deg);
    transform: translateX(-50%) rotate(45deg);
}
#flow1::before{left: 226px;background: #221700;}
#flow2::before{left: 486px;background:#2b1c02}
#flow3::before{left: 786px;background:#271a02;}
.flow h3{text-align:left;font-size:20px;margin:0 auto;width:900px}
.flow h4{font-size:14px;padding-top:22px}

.timeline {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:58px;
}
.timestamp {
    margin-bottom: 20px;
    padding: 0px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 100;
}
.status {
    padding: 0px 35px;
    display: flex;
    justify-content: center;
    border-top: 2px solid #e9cd11;
    position: relative;
    transition: all 200ms ease-in;
}
.status:before {
    content: "";
    width: 14px;
    height: 14px;
    background-color: #e9cd11;
    border-radius: 14px;
    border: 3px solid #291b01;
    position: absolute;
    top: -10px;
    left: 42%;
    transition: all 200ms ease-in;
}
.notes{margin-top:30px;font-size:14px}

/* moving orbits */
#orbits{
    position: absolute;
    text-align: center;
    height: 556px;
    width: 549px;
    left: calc(50% - 274px);
    z-index: -99;
    top: 35px;
}
#orbits .cover{height:556px;width:549px;position:absolute;left:calc(50% - 265px);z-index:99;}
.overlay{position:absolute;top:496px;z-index:-1}
div.orbits:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}
div.orbit:after {
  -webkit-animation: planet-rotate 4s linear infinite;
  -moz-animation: planet-rotate 4s linear infinite;
  animation: planet-rotate 4s linear infinite;
  background-color: #211a00;
  border-radius: 50%;
  content: '';
  display: block;
}
div.orbit {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
div.orbit:nth-of-type(1) {
    -webkit-animation: orbit-rotate 4s linear infinite;
    -moz-animation: orbit-rotate 4s linear infinite;
    animation: orbit-rotate 4s linear infinite;
    -webkit-animation-delay: -2.72s;
    -moz-animation-delay: -2.72s;
    animation-delay: -2.72s;
    position: absolute;
    top: 58.4%;
    left: -9.4%;
    width: 118.8%;
}
div.orbit:nth-of-type(1):after {
    -webkit-animation-delay: -2.72s;
    -moz-animation-delay: -2.72s;
    animation-delay: -2.72s;
    height: 81px;
    width: 66px;
    background:url(../images/01.png) no-repeat;
}
div.orbit:nth-of-type(2) {
    -webkit-animation: orbit-rotate 4s linear infinite;
    -moz-animation: orbit-rotate 4s linear infinite;
    animation: orbit-rotate 4s linear infinite;
    -webkit-animation-delay: -0.12s;
    -moz-animation-delay: -0.12s;
    animation-delay: -0.12s;
    position: absolute;
    top: 87.8%;
    left: -0.4%;
    width: 100.8%;
}
div.orbit:nth-of-type(2):after {
    -webkit-animation-delay: -0.12s;
    -moz-animation-delay: -0.12s;
    animation-delay: -0.12s;
    height: 30px;
    width: 31px;
    background:url(../images/02.png) no-repeat;    
}
div.orbit:nth-of-type(3) {
    -webkit-animation: orbit-rotate 4s linear infinite;
    -moz-animation: orbit-rotate 4s linear infinite;
    animation: orbit-rotate 4s linear infinite;
    -webkit-animation-delay: -0.92s;
    -moz-animation-delay: -0.92s;
    animation-delay: -0.92s;
    position: absolute;
    top: 47.2%;
    left: -10%;
    width: 120%;
}
div.orbit:nth-of-type(3):after {
    -webkit-animation-delay: -0.92s;
    -moz-animation-delay: -0.92s;
    animation-delay: -0.92s;
    height: 17px;
    width: 13px;
    background:url(../images/03.png) no-repeat;      
}
div.orbit:nth-of-type(4) {
    -webkit-animation: orbit-rotate 4s linear infinite;
    -moz-animation: orbit-rotate 4s linear infinite;
    animation: orbit-rotate 4s linear infinite;
    -webkit-animation-delay: -1.44s;
    -moz-animation-delay: -1.44s;
    animation-delay: -1.44s;
    position: absolute;
    top: 40.2%;
    left: -9.4%;
    width: 118.8%;
}
div.orbit:nth-of-type(4):after {
    -webkit-animation-delay: -1.44s;
    -moz-animation-delay: -1.44s;
    animation-delay: -1.44s;
    height: 17px;
    width: 11px;
    background:url(../images/04.png) no-repeat;  
}
div.orbit:nth-of-type(5) {
    -webkit-animation: orbit-rotate 4s linear infinite;
    -moz-animation: orbit-rotate 4s linear infinite;
    animation: orbit-rotate 4s linear infinite;
    -webkit-animation-delay: -2.88s;
    -moz-animation-delay: -2.88s;
    animation-delay: -2.88s;
    position: absolute;
    top: 17.8%;
    left: -3.4%;
    width: 106.8%;
}
div.orbit:nth-of-type(5):after {
    -webkit-animation-delay: -2.88s;
    -moz-animation-delay: -2.88s;
    animation-delay: -2.88s;
    height: 20px;
    width: 19px;
    background:url(../images/05.png) no-repeat;      
}
div.orbit:nth-of-type(6) {
    -webkit-animation: orbit-rotate 4s linear infinite;
    -moz-animation: orbit-rotate 4s linear infinite;
    animation: orbit-rotate 4s linear infinite;
    -webkit-animation-delay: -0.68s;
    -moz-animation-delay: -0.68s;
    animation-delay: -0.68s;
    position: absolute;
    top: 13.6%;
    left: -1.6%;
    width: 103.2%;
}
div.orbit:nth-of-type(6):after {
    -webkit-animation-delay: -0.68s;
    -moz-animation-delay: -0.68s;
    animation-delay: -0.68s;
    height: 13px;
    width: 12px;
    background:url(../images/06.png) no-repeat;  
}
div.orbit:nth-of-type(7) {
    -webkit-animation: orbit-rotate 4s linear infinite;
    -moz-animation: orbit-rotate 4s linear infinite;
    animation: orbit-rotate 4s linear infinite;
    -webkit-animation-delay: -2.24s;
    -moz-animation-delay: -2.24s;
    animation-delay: -2.24s;
    position: absolute;
    top: -0.4%;
    left: 8.6%;
    width: 82.8%;
}
div.orbit:nth-of-type(7):after {
    -webkit-animation-delay: -2.24s;
    -moz-animation-delay: -2.24s;
    animation-delay: -2.24s;
    height: 26px;
    width: 24px;
    background:url(../images/07.png) no-repeat;     
}
div.orbit:nth-of-type(8) {
    -webkit-animation: orbit-rotate 4s linear infinite;
    -moz-animation: orbit-rotate 4s linear infinite;
    animation: orbit-rotate 4s linear infinite;
    -webkit-animation-delay: -2s;
    -moz-animation-delay: -2s;
    animation-delay: -2s;
    position: absolute;
    top: -14.4%;
    left: 26.6%;
    width: 46.8%;
}
div.orbit:nth-of-type(8):after {
    -webkit-animation-delay: -2s;
    -moz-animation-delay: -2s;
    animation-delay: -2s;
    height: 16px;
    width: 15px;
    background:url(../images/08.png) no-repeat;     
}
@-webkit-keyframes orbit-rotate {
    from {
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    to {
        -webkit-transform: rotateY(360deg);
        -moz-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        -o-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}
@-moz-keyframes orbit-rotate {
    from {
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    to {
        -webkit-transform: rotateY(360deg);
        -moz-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        -o-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}
@-o-keyframes orbit-rotate {
    from {
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    to {
        -webkit-transform: rotateY(360deg);
        -moz-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        -o-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}
@keyframes orbit-rotate {
    from {
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    to {
        -webkit-transform: rotateY(360deg);
        -moz-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        -o-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
}
@-webkit-keyframes planet-rotate {
    from {
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    to {
        -webkit-transform: rotateY(-360deg);
        -moz-transform: rotateY(-360deg);
        -ms-transform: rotateY(-360deg);
        -o-transform: rotateY(-360deg);
        transform: rotateY(-360deg);
    }
}
@-moz-keyframes planet-rotate {
    from {
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    to {
        -webkit-transform: rotateY(-360deg);
        -moz-transform: rotateY(-360deg);
        -ms-transform: rotateY(-360deg);
        -o-transform: rotateY(-360deg);
        transform: rotateY(-360deg);
    }
}
@-o-keyframes planet-rotate {
    from {
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    to {
        -webkit-transform: rotateY(-360deg);
        -moz-transform: rotateY(-360deg);
        -ms-transform: rotateY(-360deg);
        -o-transform: rotateY(-360deg);
        transform: rotateY(-360deg);
    }
}
@keyframes planet-rotate {
    from {
        -webkit-transform: rotateY(0deg);
        -moz-transform: rotateY(0deg);
        -ms-transform: rotateY(0deg);
        -o-transform: rotateY(0deg);
        transform: rotateY(0deg);
    }
    to {
        -webkit-transform: rotateY(-360deg);
        -moz-transform: rotateY(-360deg);
        -ms-transform: rotateY(-360deg);
        -o-transform: rotateY(-360deg);
        transform: rotateY(-360deg);
    }
}

