<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>条件渲染v-if</title>
</head>
<body>
<div id="demo">
    <div v-if="Math.random() > 0.5">sorry</div>
    <div v-else>no sorry</div>
    <!--使用key控制元素的可重用(待补充)-->
    <!--<template v-if="loginType === 'username'">-->
        <!--<label>Username</label>-->
        <!--<input placeholder="Enter your username" key="username-input">-->
    <!--</template>-->
    <!--<template v-else>-->
        <!--<label>Email</label>-->
        <!--<input placeholder="Enter your email address" key="email-input">-->
    <!--</template>-->
</div>
<script src="vue.js"></script>
<script>
    var vm = new Vue({
        el: '#demo',
    });
</script>
</body>
</html>